.about-you{
    width: 100%;
    height: auto;
    position: relative;
    padding: 0;
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    color: #f8f8f8;
    background: $primary-blue-darker;
}


.about-you-container{
    position: relative;
    display: block;
    padding: 0;
    margin: 0;
    height: auto;
    background-position: right;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: url(/images/AdobeStock_537889322_Preview.png);
    overflow: hidden;
    background-position-x: -200px;

}

.about-you-text-container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    height: auto;
    background: $primary-blue;
    //width: 50%;
    padding-bottom: 6rem;
    margin-left: 40%;
}

.about-you-container h1{
    padding: 0 100px 0 150px;
    color: $primary-white;
    margin-top: 5rem;
    margin-bottom: 6rem;
    text-align: left;
    width: 100%;
}

.about-you-container p{
    width: 100%;
    padding:0 150px;
    text-align: left;
    opacity: .8;
    font-weight: 500;
}

.about-you-container p:nth-last-of-type(2){
    padding-bottom: 5rem;
}




// MEDIA QUERIES
@media (max-width: 1120px){
    .about-you-container h1{
        font-size: 4rem;
        padding: 0 100px 0 15%;
    }
    .about-you-container p{
        font-size: 1.1rem;
        padding: 0 15%;
    }
}

@media (max-width: 768px){
    .about-you-text-container{
        margin-left: 0;
    }
}