.about-me{
    position: relative;
    width: 100%;
    height: 1000px;
    position: relative;
    padding:  0;
    margin: 0;
    background: #041a24;
}

.about-me h1{
    position: relative;
    padding: 3rem 0 0 3rem;
    //background: rgb(144, 104, 104);
    color: $primary-pink;
}
