.about-us{
    position: relative;
    width: 100%;
    height: auto;
    position: relative;
    padding:  2em 0;
    margin: 0;
    background: #f3f3f3;
}
.about-us-h1{
    position: relative;
    display: block;
    font-size: 2.5em;
    padding: 0 0 1em 0;
    margin: 0 auto;
    text-align: center;
    font-family:'Work Sans', sans-serif;
    font-weight: 400;
    color: #1599D6;
    text-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
    transition: 1200ms ease-in-out;
    //transition-delay: 300ms;
    transform: translateY(-50px);
    opacity: 0;
    &.is-showing{
        opacity: 1;
        transform: translateY(0px);
    }
}
.about-flexbox{
    width: auto;
    max-width: 1000px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
    margin: 3em auto 1em auto;
    max-height: 35em;
}
.box-item{
    margin: 1em 1em;
    padding: 0;
    width: 100%;
    max-width: 400px;
    border-radius: 2px;
    height: auto;
    position: relative;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.7);
    //border: 2px solid #1599d6;
    overflow: hidden;
    transition: 1200ms ease-in-out;
    transition-delay: 500ms;
    transform: translateY(50px);
    opacity: 0;
    &.is-showing{
        opacity: 1;
        transform: translateY(0px);
    }
    img{
        width: 100%;
        padding-top: 3em;
        display: block;
        
    }
}
.box-item:hover .box-desc{
    transform: translateY(0%);
}
@keyframes animateBorder {
    to {
      outline-color: #f3f3f3;
      box-shadow: 0 0 0 6px #1599D6;
    }
  }
.name{
    font-size: 2em;
    font-weight: 400;
    color: #f3f3f3;
    background: #1599d6;
    text-align: center;
    padding: 0.1em 0;
    //border: 1px solid #f3f3f3;
    margin: 0;
    position: absolute;
    top: 0;
    width: 100%;
    display: block;
    z-index: 3;
}
.box-desc{
    font-size: 1.2em;
    font-weight: 300;
    position: absolute;
    bottom: 0;
    //bottom: 6em;
    color: #f3f3f3;
    background: rgba(0, 97, 0, 0.7);
    left: 0em;
    right: 0em;
    padding: 11em 2em 4em 2em;
    transform: translateY(150%);
    transition: all ease-in-out 250ms;
    p{
        font-size: 1.6em;
        font-weight: 200;
        justify-content: center;
        text-align: center;
    }
}
.view-more-button{
    display: inline-block;
    min-width: 9em;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1em;
    font-weight: 400;    
    cursor: pointer;
    color: #f3f3f3;
    padding: 0.4em 2em;
    border: 2px solid #f3f3f3;
    border-radius: 5px;
    transition: 250ms ease-in;;
    &:hover{
        color: #1599D6;
        background: #f3f3f3;
        border-color: rgb(0, 112, 0);
    }
}


// MODAL 
.modal{
    display: none;
    position: fixed;
    z-index: 1;
    margin: 0;
    width: 100%;
    height: 100%;
    color: #f3f3f3;
    padding-top: 2em;
}
.modal-logo{
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    background-image: url(../images/reframeLogoTree.png);
    width: 80px;
    height: 91px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80px 91px;
    float: left;
}
.contact-outer{
    position: relative;
    width: 100%;
    max-width: 1000px;
    height: auto;
    margin: 0 auto;
    padding: 0;
    //background: red; 
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.contact{
    height: 100%;
    width: 33.33%;
    padding: 1em;
    margin: 0;
    position: relative;
    //background: red;
}
.contact-p{
    font-family: 'Work Sans',sans-serif;
    display: block;
    width: 100%;
    padding: 0.5em;
    margin: 0;
    text-align: center;
    font-size: 1.1em;
    color: #f3f3f3;
    font-weight: 200;
}
.contact-tel-icon,
.contact-tel-icon::before,
.contact-tel-icon::after{
    width: 40px;
    height: 40px;
    margin: 0 auto;
    padding: 0;
    background-image: url(../images/tel_icon1.png);
    background-size: 40px 40px;
    position: relative;
    transition: all ease-out 300ms;
}
.contact-tel-icon:focus,
.contact-tel-icon:hover,
.contact-tel-icon:active{
    background-image: url(../images/tel_icon.png);
}
.contact-email-icon,
.contact-email-icon::before,
.contact-email-icon::after{
    width: 40px;
    height: 40px;
    margin: 0 auto;
    padding: 0;
    background-image: url(../images/mail_icon.png);
    background-size: 40px 40px;
    position: relative;
    transition: all ease-out 300ms;
}
.contact-email-icon:hover,
.contact-email-icon:focus,
.contact-email-icon:active{
    background-image: url(../images/mail_icon1.png);
    transition: all ease-out 300ms;
}
.contact-linkedin-icon,
.contact-linkedin-icon::before,
.contact-linkedin-icon::after{
    width: 40px;
    height: 40px;
    margin: 0 auto;
    padding: 0;
    background-image: url(../images/linkedin_hover.png);
    background-size: 40px 40px;
    position: relative;
    transition: all ease-out 300ms;
}
.contact-linkedin-icon:hover,
.contact-linkedin-icon:focus,
.contact-linkedin-icon:focus{
    background-image: url(../images/linkedin.png);
    transition: all ease-out 300ms;
}
.kingsley-modal-content{
    background: #1599D6;
    color: #f3f3f3;
    margin: auto;
    padding: 1em;
    border: 2px solid #f3f3f3;
    width: 80%;
    height: 90%;
    overflow-y: auto;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    h1{
        text-align: center;
        padding: 0.5em;
        border: 2px solid #f3f3f3;
        display: block;
        margin: 0 auto;
        width: 9em;
        position: relative;
        background: #1599D6;
        font-family: 'Work Sans', sans-serif;
        font-weight: 400;
    }
    .content-p{
        padding: 2em 5%;
        font-size: 1.2em;
        font-weight: 300;
        font-family: 'Work Sans', sans-serif;
        font-weight: 300;
        line-height: 1.8em;   
    }
}
.nicholas-modal-content{
    background: #1599D6;
    color: #f3f3f3;
    margin: auto;
    padding: 1em;
    border: 2px solid #f3f3f3;
    width: 80%;
    height: 90%;
    overflow-y: auto;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    h1{
        text-align: center;
        padding: 0.5em;
        border: 2px solid #f3f3f3;
        display: block;
        margin: 0 auto;
        width: 8em;
        position: relative;
        background: #1599D6;
        font-family: 'Work Sans', sans-serif;
        font-weight: 400;
    }
    .content-p{
        padding: 3em 5%;
        font-size: 1.2em;
        font-weight: 300;
        font-family: 'Work Sans', sans-serif;
        font-weight: 300;
        line-height: 1.8em;
    }
}
.close1,
.close2{
    height: 50px;
    width: 50px;
    background-image: url(../images/close.png);
    background-size: 50px 50px;
    background-repeat: no-repeat;
    opacity: 0.5;
    float: right;
}
.close1:hover,
.close1:focus,
.close2:hover,
.close2:focus{
    cursor: pointer;
    opacity: 1;
}
@media (max-width: 900px){
    .name{
        font-size: 1.6em;
    }
    .box-item{
        img{
            padding: 1em 0 0 0;
        }
    }
    .box-desc{
        p{
            font-size: 1.2em;
        }
    }
    .view-more-button{
        font-size: 1em;
        //min-width: 7em;
    }
    .contact{
        .contact-p{
            font-size: 0.9em;
        }
    }
}
@media (max-width: 640px){
    .about-us-h1{
        font-size: 2em;
    }
    .about-flexbox{
        flex-direction: column;
        margin: 2em auto 0 auto;
        width: 100%;
        min-height: 50em;
        background: none;
    }
    .box-item{
        width: auto;
        margin: 0 auto;
        min-height: none;
        max-height: 380px;
        img{
            padding-top: 2em;   
        }
    }
    .box-desc{
        padding: 11em 2em 4em 2em;
        p{
            font-size: 1.5em;
            font-weight: 300;
        }
    }
    .modal-logo{
        width: 50px;
        height: 57px;
        background-size: 50px 57px;
    }
    .kingsley-modal-content,
    .nicholas-modal-content{
        width: 85%;
        h1{
            font-size: 1.25em;
            font-weight: 300;
        }
        .content-p{
            font-size: 1em;
            padding: 3em 2.5%;
            font-weight: 300;
        }
    }
    .contact-outer{
        flex-direction: column;
        width: 100%;
        padding: 0;
        margin: 0 auto;
    }
    .contact{
        width: 100%;
        margin-bottom: 0 auto 2em auto;
        
        .contact-p{
            border-bottom: 1px solid rgba(243, 243, 243, 0.4);
            height: auto;
            padding: 0.5em 0;
            margin: 0 auto;
            width: 90%;
            font-size: 1.2em;
        }
    }
}
@media (max-width: 480px){
    .about-flexbox{
        margin: 2em auto 0 auto;
    }
    .box-item{
        width: 100%;
        max-width: none;
    }
}