.about-me{
    position: relative;
    width: 100%;
    height: auto;
    padding:  0;
    margin: 0;
    background: $primary-white;
}

.about-me h1{
    position: relative;
    padding: 5rem 0;
    //background: rgb(144, 104, 104);
    color: $primary-pink;
    margin: 0 auto;
    text-align: center;
}

.about-me-bio{
    color: $primary-blue-darker;
    margin: 0 auto;
    padding: 2rem 2rem 8rem 2rem;
    text-align: center;
    width: 70vw;
}


.about-me-examples{
    position: relative;
    display: block;
    padding: 0;
    margin: 0;
    height: auto;
    background-position: right;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: url(/images/meeting_pink.png);
    overflow: hidden;
    background-position-x: 300px;
}

.examples-list{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    background: $primary-pink;
    width: 50%;
    padding: 4rem 1rem 4rem 4rem;
    -webkit-clip-path: ellipse(62% 92% at 33% 51%);
clip-path: ellipse(62% 92% at 33% 51%);
    
}
.examples-list h1{
        color: $primary-white;
        padding: 3rem 0;
        text-align: center;
        font-weight: 700;
        
        margin: 0;
        font-size: 2rem;
        //background: red;
    
}
.examples-list li{
    font-size: 1.2rem;
    color: $primary-white;
    padding: 2rem;
    font-weight: 700;
    width: 80%;
    opacity: 0.8;
}