.about-me{
    position: relative;
    width: 100%;
    height: auto;
    padding:  0;
    margin: 0;
    background: #fff;
}
.about-me h1{
    position: relative;
    padding: 5rem 0;
    color: $primary-pink;
    margin: 0 auto;
    text-align: center;
}
.profile-container{
    position: relative;
    width: 85%;
    max-width: 1200px;
    height: auto;
    margin: 5rem auto;
    padding: 0;
    display: flex;
    //justify-content: center;
    //background: red;
}
.profile-img{
    width: 350px;
    height: 448px;
    padding: 0;
    background-image: url(/images/IMG_4833_3_cropped.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 350px 448px;
    margin: auto;
 
}
.profile-text-container{
    width: 50%;
    height: auto;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    //background: rgb(157, 79, 79);
}
.profile-text-container h1{
    font-size: 2.5rem;
    padding: 0 0 0 50px;
    margin: 0;
    font-weight: 700;
    margin-bottom: 2rem;
    color: $primary-blue-dark;
    text-align: left;
}
.profile-text-container p{
    //background: rgb(85, 44, 44);
    margin: 0;
    text-align: left;
    padding: 0 3rem 0 50px;
    color: $primary-blue-darker;
    font-size: 1.5rem;
    font-weight: 400;
    opacity: .8;
    line-height: 2.3rem;
}
.pink-quotes{
    font-size: 2.5rem;
    color: $primary-pink;
    font-weight: 700;
}

.about-me-bio{
    color: $primary-blue-darker;
    margin: 0 auto;
    padding: 8rem 15%;
    text-align: center;
    width: 100%;
    background: $primary-white;
}


// PINK SECTION
.about-me-examples{
    position: relative;
    display: block;
    padding: 0;
    margin: 0;
    height: auto;
    background-position: right;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: url(/images/AdobeStock_191227652_Preview.png);
    overflow: hidden;
    background-position-x: 170px;
    
}

.examples-list{
    position: relative;
    display: block;
    height: auto;
    background: $primary-pink;
    width: 60%;
    padding: 5rem;
    margin: 0;
}
.examples-list h1{
    color: $primary-white;
    text-align: left;
    font-weight: 700;
    font-size: 2.5rem;
    padding: 5rem 5rem 5rem 0;
}
.examples-list li{
    font-size: 1.2rem;
    color: $primary-white;
    padding: 0;
    font-weight: 500;
    text-align: left;
    opacity: 0.8;
    margin: 3rem 0;
}



// QUOTE BOX SECTION
.quote-box{
    height: auto;
    width: 100%;
    padding: 5rem 0;
    margin:0 auto;
    background: $primary-blue-dark;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.quote-box-container{
    width: 65%;
    height: auto;
    padding: 6rem 2rem;
    margin: auto;
    position: relative;
}


.quote-box-container:nth-of-type(1){
    ::before{
    content: '';
    display: inline-block;
    position: absolute;
    bottom: -0.5rem;
    width: 50%;
    height: 1px;
    background-color: $primary-pink;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    padding: 0;
    }
}

.quote-box p{
    margin:0 auto;
    max-width: 1000px;
    padding: 1rem 0;
    font-weight: 700;
    color: $primary-white;
}
.quote-box p:nth-child(2){
    opacity: .5;
    font-weight: 500;
}



// MEDIA QUERIES
@media (max-width: 1120px){
    
    .examples-list li{
        font-size: 1.1rem;
        margin: 2rem 0;
    }
}


@media (max-width: 1030px){
    .profile-text-container h1{
        font-size: 1.5rem;
    }
    .profile-text-container P{
        font-size: 1.2rem;
        line-height: 1.8rem;
        padding: 0 2rem;
    }
    .profile-img{
        width:300px;
        height: 384px;
        background-size: 300px 384px;
    }
}

@media (max-width: 768px){
    .examples-list{
        width: 100%;
        padding: 0 10% 5rem 10%;
    }
    .examples-list h1{
        margin: 0 auto;
        padding: 4rem 0;
    }
    .examples-list li{
        margin: 3rem auto;
        padding: 0;
    }
    .quote-box-container{
        width: 90%;
        margin: 0 auto;
        padding: 0 5% 4rem 5%;
    }
    .quote-box-container:nth-of-type(2){
        padding: 4rem 5% 1rem 5%;
    }
    .quote-box {
        margin: 0 auto;
        padding: 3rem 0;
    }
    .quote-box p, .quote-box p:nth-child(2){
        font-size: 1.1rem;
       
    }
    .profile-container{
        flex-direction: column;
        margin: 0 auto 5rem auto;
    }
    .profile-text-container{
        width: 100%;
    }
    .profile-text-container h1{
        padding: 3rem 0 0 0;
        text-align: center;
    }
    .profile-text-container p{
        margin: 0 auto;
        padding: 0 5%;
        text-align: center;
        line-height: 2.2rem;
        font-size: 1rem;
    }
    .about-me-bio{
        padding: 5rem 10%;
        text-align: left;
    }
   
}


