html, body{
  font-size: 16px;
  z-index: 0;
  padding: 0;
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  color: #080808;
  background: #1599D6;
  width: 100%;
  height: auto;
}

.section-h1{
    position: relative;
    display: block;
    font-size: 2.5em;
    padding: 0.5em 0 1em 0;
    margin: 0 auto;
    text-align: center;
    font-family:'Work Sans', sans-serif;
    font-weight: 300;
    color: #f3f3f3;
}
.quote-mark{
  font-weight: 400;
  font-size: 200%;
}
.line-break{
  display: block;
  background-color: #f3f3f3;
  height: 1px;
  width: 15em;
  padding: 0;
  margin: 0 auto;
}
.line-break-blue{
  display: block;
  background-color: #1599D6;
  height: 1px;
  width: 15em;
  padding: 0;
  margin: 0 auto;
}
.fade-section{
  opacity: 0;
  transition: opacity 1.5s;
}
.fade-section.visible{
  opacity: 1;
}
.blur-filter{
  -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        -o-filter: blur(5px);
        -ms-filter: blur(5px);
        filter: blur(5px);
        transition: 0.2s ease-in;
        
}
.twitter-icon,
.twitter-icon::before,
.twitter-icon::after{
  position: relative;
  width: 48px;
  height: 48px;
  background-image: url(../images/twitter.png);
  margin: 0;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 48px 48px;
  transition: all ease-out 300ms;
}
.twitter-icon:hover,
.twitter-icon:focus,
.twitter-icon:active{
  background-image: url(../images/twitter_hover.png);
  transition: all ease-out 500ms;
}

.linkedin-icon,
.linkedin-icon::before,
.linkedin-icon::after{
  position: relative;
  width: 48px;
  height: 48px;
  background-image: url(../images/linkedin.png);
  margin: 0;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 48px 48px;
  transition: all ease-out 300ms;
}

.linkedin-icon:hover,
.linkedin-icon:focus,
.linkedin-icon:active{
  background-image: url(../images/linkedin_hover.png);
  transition: all ease-out 500ms;
}
.facebook-icon,
.facebook-icon::before,
.facebook-icon::after{
  position: relative;
  width: 48px;
  height: 48px;
  background-image: url(../images/facebook.png);
  margin: 0;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 48px 48px;
  transition: all ease-out 300ms;
}
.facebook-icon:hover,
.facebook-icon:focus,
.facebook-icon:active{
  background-image: url(../images/facebook_hover.png);
  transition: all ease-out 500ms;
}



@media (max-width: 1050px){
  .section-h1{
    font-size: 2em;
    margin: 0 2em;
  }
}
@media (max-width: 720px){
  .line-break, .line-break-blue{
    width: 8em;
  }
}
@media (max-width:640px){
  .twitter-icon,
  .linkedin-icon,
  .facebook-icon{
    height: 32px;
    width: 32px;
    background-size: 32px 32px;
  }
}




