html, body{
  font-size: 16px;
  z-index: 0;
  padding: 0;
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  color: #080808;
  background: #1599D6;
  width: 100%;
  height: auto;
}
.section-h1{
    position: relative;
    display: block;
    font-size: 3em;
    padding: 0.5em 0 1em 0;
    margin: 1em auto 0 auto;
    text-align: center;
    font-family:'Work Sans', sans-serif;
    font-weight: 500;
    color: #f3f3f3;
    //text-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
    transition: 1200ms ease-in-out;
    //transition-delay: 500ms;
    transform: translateY(-50px);
    opacity: 0;
    &.is-showing{
        opacity: 1;
        transform: translateY(0px);
    }
}
.quote-mark{
  font-weight: 400;
  font-size: 200%;
}
.line-break{
  display: block;
  background-color: #f3f3f3;
  height: 1px;
  width: 15em;
  padding: 0;
  margin: 0 auto;
}
.line-break-blue{
  display: block;
  background-color: #1599D6;
  height: 2px;
  width: 15em;
  padding: 0;
  margin: 0 auto;
}
.fade-section{
  opacity: 0;
  transition: opacity 1.5s;
}
.fade-section.visible{
  opacity: 1;
}
.blur-filter{
  -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        -o-filter: blur(5px);
        -ms-filter: blur(5px);
        filter: blur(5px);
        transition: 0.2s ease-in;   
}
.twitter-icon,
.twitter-icon::before,
.twitter-icon::after{
  position: relative;
  width: 40px;
  height: 40px;
  background-image: url(../images/twitter.png);
  margin: 0;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 40px 40px;
  transition: all ease-out 300ms;
}
.twitter-icon:hover,
.twitter-icon:focus,
.twitter-icon:active{
  background-image: url(../images/twitter_hover.png);
  transition: all ease-out 300ms;
}
.linkedin-icon,
.linkedin-icon::before,
.linkedin-icon::after{
  position: relative;
  width: 40px;
  height: 40px;
  background-image: url(../images/linkedin.png);
  margin: 0;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 40px 40px;
  transition: all ease-out 300ms;
}
.linkedin-icon:hover,
.linkedin-icon:focus,
.linkedin-icon:active{
  background-image: url(../images/linkedin_hover.png);
  transition: all ease-out 300ms;
}
.facebook-icon,
.facebook-icon::before,
.facebook-icon::after{
  position: relative;
  width: 40px;
  height: 40px;
  background-image: url(../images/facebook.png);
  margin: 0;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 40px 40px;
  transition: all ease-out 300ms;
}
.facebook-icon:hover,
.facebook-icon:focus,
.facebook-icon:active{
  background-image: url(../images/facebook_hover.png);
  transition: all ease-out 300ms;
}
@media (max-width: 1050px){
  .section-h1{
    font-size: 2em;
    margin: 0 auto;
  }
}
@media (max-width: 720px){
  .line-break, .line-break-blue{
    width: 8em;
  }
}
