.disc{
    margin: 0;
    padding: 2em 5%;
    width: 100%;
    height: auto;
    background: #f3f3f3;
    position: relative;
    font-family: 'Work Sans', sans-serif;
}
.disc-header{
    padding: 0;
    margin: 2em auto;
    width: 350px;
    height: 123px;
    position: relative;
    background-image: url(../images/certification.png);
    background-size: 350px 123px;
    background-position: top center;
    background-repeat: no-repeat;
    transition: 1200ms ease-in-out;
    //transition-delay: 500ms;
    transform: translateY(-50px);
    opacity: 0;
    &.is-showing{
        opacity: 1;
        transform: translateY(0px);
    }
}
.disc-p1,
.disc-p2{
    position: relative;
    font-size: 2em;
    padding: 0 5%;
    margin: 1em auto;
    font-weight: 300;
    text-align: center;
    max-width: 1200px;
}
.disc-p1{
    transition: 1200ms ease-in-out;
    transition-delay: 500ms;
    transform: translateY(50px);
    opacity: 0;
    &.is-showing{
        opacity: 1;
        transform: translateY(0px);
    }
}
.disc-p2{
    padding-bottom: 1em;
}
.disc-flexbox,
.disc-flexbox-2{
    height: auto;
    width: 100%;
    max-width: 1200px;
    position: relative;
    padding: 2em;
    margin: 1em auto;
    display: flex;
    flex-direction: row;
}
.disc-flexbox{
    transition: 1200ms ease-in-out;
    transition-delay: 1000ms;
    transform: translateY(50px);
    opacity: 0;
    &.is-showing{
        opacity: 1;
        transform: translateY(0px);
    }
}
.disc-flexbox-2{
    transition: 1200ms ease-in-out;
    transition-delay: 1500ms;
    transform: translateY(-50px);
    opacity: 0;
    &.is-showing{
        opacity: 1;
        transform: translateY(0px);
    }
}
.disc-header-box,
.disc-header-box-2{
    padding: 0 2em 0 0;
    width: 40%;
    min-width: 10em;
    font-size: 1.4em;
    font-weight: 400;

}
.disc-header-box-2{
    width: 18.5%;
}
.disc-content-box,
.disc-content-box-2{
    font-size: 1.4em;
    font-weight: 300;
}
.disc-contact-outer{
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 900px;
}

.disc-contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 50%;
    margin: 0;
    position: relative;
    align-items: center;
    justify-content: space-evenly;
    padding: 0.5em;
}
.tel-icon,
.tel-icon::before,
.tel-icon::after{
    height: 45px;
    width: 45px;
    //padding: 0;
    //margin: 0 auto;
    background-image: url(../images/tel_icon2.png);
    background-size: 45px 45px;
    background-position: top center;
    background-repeat: no-repeat;
    transition: 300ms ease-in-out;
}
.tel-icon:hover,
.tel-icon:focus,
.tel-icon:active{
    background-image: url(../images/tel_icon3.png);
}
.mail-icon,
.mail-icon::before,
.mail-icon::after{
    height: 45px;
    width: 45px;
    //padding: 0;
    //margin: 0 auto;
    background-image: url(../images/mail_icon2.png);
    background-size: 45px 45px;
    background-position: top center;
    background-repeat: no-repeat;
    transition: all ease-out 300ms;
}
.mail-icon:hover,
.mail-icon:focus,
.mail-icon:active{
    background-image: url(../images/mail_icon3.png)
}
.kingsley-tel{
    font-size: 1.4em;
    font-weight: 300;
    //padding: 0;
    margin-top: 0.5em;
}
.kingsley-mail{
    font-size: 1.2em;
    font-weight: 300;
    //padding: 0;
    //margin-top: 0.5em;
    text-decoration: none;
    color: #000000;
}
@media (max-width: 720px){
    .disc-header{
        width: 250px;
        height: 88px;
        background-size: 250px 88px;
    }
    .disc-flexbox,
    .disc-flexbox-2{
        flex-direction: column;
        padding: 2em 0;
    }
    .disc-header-box,
    .disc-header-box-2{
        font-size: 1.1em;
        font-weight: 400;
        width: auto;
        padding-bottom: 1em;
    }
    .disc-content-box,
    .disc-content-box-2{
        font-size: 1em;
    }
    .disc-p1,
    .disc-p2{
        font-size: 1.2em;
    }
    .kingsley-tel{
        font-size: 1.1em;
    }
    .kingsley-mail{
        font-size: 1.1em; 
    }
    .tel-icon{
        
        background-size: 45px 45px;
    }
    .mail-icon{
        background-size: 45px 45px;
    }
}
@media (max-width: 580px){
    .disc-contact-outer{
        flex-direction: column;
    }
    .disc-contact{
        width: 100%;
    }
}