.estate-bold{
    font-size: 1.2em;
    font-weight: 400;
}
.estate-agency{
    width: 100%;
    height: auto;
    position: relative;
    padding: 0;
    margin: 0;
    color: #f8f8f8;
}
.estate-outer1{
    width: 100%;
    height: auto;
    padding: 2em 0 0 0;
    margin: 0;
    position: relative;
    background-position: center;
    background: #1599d6;
}
.estate-section1{
    height: 500px;
    width: 100%;
    //background: rgba(0, 137, 0, 0.4);
    //border-top: 3px solid #f3f3f3;
    //border-bottom: 3px solid #f3f3f3;
    position: relative;
    margin: 4em 0 0 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}
.estate-section1-bg{
    position: absolute;
    width: 100%;
    height: 800px;
    background-size: 1920px 1080px;
    background-position: top center;
    background-repeat: no-repeat;
    background-image: url(../images/estate_bg1.jpg);
    //background-attachment: fixed;
    z-index: 1;
    transform: translateY(-1800px);
}
.estate-outer2{
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    position: relative;
    background: #1599d6;
    p{
        transition: 1200ms ease-in-out;
        transition-delay: 1500ms;
        transform: translateY(50px);
        opacity: 0;
        &.is-showing{
            opacity: 1;
            transform: translateY(0px);
        }
    }
}
.estate-section2{
    height: 500px;
    padding: 0;
    width: 100%;
    background: rgba(31, 183, 253, 0.6);
    //border-bottom: 3px solid #f3f3f3;
    position: relative;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    video{
        padding: 1em 1em 2.5em 1em;
        margin: 0 0 0 5%;
        z-index: 2;
        transition: 1200ms ease-in-out;
        //transition-delay: 500ms;
        transform: translateY(-50px);
        opacity: 0;
        &.is-showing{
            opacity: 1;
            transform: translateY(0px);
        }
    }
}
.estate-section2-bg{
    position: absolute;
    width: 100%;
    height: 800px;
    background-size: 1920px 1080px;
    background-position: top center;
    background-repeat: no-repeat;
    background-image: url(../images/estate-section2-bg.jpeg);
    z-index: 1;
    transform: translateY(-1800px);
    &::before{
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0, 138, 0, 0.3);
    }
}
.estate2-h1{
    font-weight: 200;
    padding: 1.5em;
    text-align: center;
    font-size: 2em;
    line-height: 1.5em;
    width: 50%;
    max-width: 600px;
    text-shadow: 0px 4px 5px rgba(0, 0, 0, 0.5);
    font-family: 'Work Sans', sans-serif;
    z-index: 2;
    transition: 1200ms ease-in-out;
    transition-delay: 1200ms;
    transform: translateY(50px);
    opacity: 0;
    &.is-showing{
        opacity: 1;
        transform: translateY(0px);
    }
}
.estate-outer3{
    width: 100%;
    height: auto;
    position: relative;
    background: #1599d6;
    padding: 0;
    margin: 0;
    //border-top: 2px solid rgba(243, 243, 243, 0.2);
    overflow: hidden;
    
}

.estate-img{
    width: 500px;
    height: 375px;
    background-image: url('../images/pete_nick_kingsley.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 2px;
    padding: 0;
    margin: 3em 0;
    position: relative;
    z-index: 2;
    transition: 1200ms ease-in-out;
    transition-delay: 1200ms;
    transform: translateY(50px);
    opacity: 0;
    &.is-showing{
        opacity: 1;
        transform: translateY(0px);
    }
}
.estate-img-text{
    display: block;
    position: absolute;
    padding: 1em;
    text-align: center;
    background: rgba(21, 153, 214, 0.9);
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    bottom: 0;
    width: 100%;
    font-size: 1em;
}
.estate-h1{
    font-weight: 200;
    padding: 0 1em 0 1em;
    text-align: center;
    font-size: 2em;
    line-height: 1.5em;
    width: 50%;
    text-shadow: 0px 4px 5px rgba(0, 0, 0, 0.5);
    font-family: 'Work Sans', sans-serif;
    z-index: 2;
    max-width: 600px;
    transition: 1200ms ease-in-out;
    transition-delay: 1000ms;
    transform: translateY(-50px);
    opacity: 0;
    &.is-showing{
        opacity: 1;
        transform: translateY(0px);
    }
}
.estate-h2{
    font-weight: 200;
    padding: 1em;
    text-align: center;
    font-size: 2.2em;
    font-family: 'Work Sans', sans-serif;
    //text-shadow: 0px 4px 5px rgba(0, 0, 0, 0.5);
}
.estate-h3{
    font-weight: 200;
    padding: 0.75em 0 2.5em 0;
    text-align: center;
    font-size: 2.4em;
    font-family: 'Work Sans', sans-serif;
    //text-shadow: 0px 4px 5px rgba(0, 0, 0, 0.5);
    //z-index: 2;
}
.estate-p,
.estate-p2{
    color: #f3f3f3;
    font-family: 'Work Sans', sans-serif;
    padding: 2em 5%;
    font-size: 1.4em;
    margin: 0 auto;
    text-align: center;
    font-weight: 200;
    max-width: 1200px;
    z-index: 1;
}
.estate-contact-outer{
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    //max-width: 1000px;
    z-index: 2;
    
}
.estate-contact{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
    width: auto;
    //max-width: 20em;
    margin: 0;
    position: relative;
    padding: 0.5em;
    //background: aquamarine;
    //border: 2px solid rgba(243, 243, 243, 0.4);
}
.tel-icon1,
.tel-icon1::before,
.tel-icon1::after{
    height: 45px;
    width: 45px;
    padding: 0;
    margin: 0 auto;
    background-image: url(../images/tel_icon1.png);
    background-size: 45px 45px;
    transition: all ease-out 300ms;
}
.tel-icon1:hover,
.tel-icon1:active,
.tel-icon1:focus{
    background-image: url(../images/tel_icon.png);
    transition: all ease-out 300ms;
}
.mail-icon1,
.mail-icon1::before,
.mail-icon1::after{
    height: 45px;
    width: 45px;
    padding: 0;
    margin: 0 auto;
    background-image: url(../images/mail_icon.png);
    background-size: 45px 45px;
    transition: all ease-out 300ms;
}
.mail-icon1:hover,
.mail-icon1:active,
.mail-icon1:focus{
    background-image: url(../images/mail_icon1.png);
    transition: all ease-out 300ms;
}
.nicholas-tel{
    font-size: 1.2em;
    font-weight: 200;
    padding: 0;
    margin: 0;
    margin-top: 0.5em;
    text-align: center;
}
.nicholas-mail{
    font-size: 0.9em;
    padding: 0;
    margin: 0;
    margin-top: 1em;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    color: #f3f3f3;
}
.carousel-item p{
    color: #f3f3f3;
    padding: 2em 14%;
    margin: 2em auto;
    text-align: center;
    font-size: 1em;
    font-weight: 300;
    font-family: 'Work Sans', sans-serif;
    line-height: 2em;
}
.estate-logos-outer{
    width: 100%;
    max-width: 900px;
    height: auto;
    padding: 0;
    margin: 0 auto;
    border-top: none;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    //background: salmon;  
}
.estate-logo{
    width: auto;
    height: 45px;
    margin:  1em 0.5em;
    padding: 0;
    img{
        width: auto;
        height: 45px;
    }
}

.reframe-logo-estate{
    position: relative;
    height: 200px;
    width: 180px;
    background-image: url(../images/reframeLogoTree.png);
    background-repeat: no-repeat;
    background-size: 175px 198px;
    padding: 0;
    margin: 0 auto;
}
@media (max-width: 1200px){
    .estate-img{
        width: 350px;
        height: 285px;
    }
    .estate-img-text{
        font-size: 0.8em;
        padding: 0.5em;
    }
    .estate-h1,
    .estate2-h1{
        font-size: 1.9em;
    }
    
}
@media (max-width: 900px){
    .estate-section1{
        margin: 2.5em 0 0 0;
        padding: 0;
        justify-content: center;
        flex-direction: column;
        height: 600px;
    }
    
    .estate-section2{
        justify-content: center;
        flex-direction: column;
        flex-flow: column-reverse;
        height: 600px;
        video{
            padding: 0 0 2.5em 0;
            margin: 0;
            width: 60%;
            height: auto;
        }
    }
    .estate-section1-bg{
        transform: translateY(-2000px);
    }
    .estate-section2-bg{
        transform: translateY(-2000px);
    }
    .estate-h1{
        width: 90%;
        padding: 2em 0;
        margin: 0 auto;
        font-weight: 100;
    }
    .estate2-h1{
        width: 90%;
        padding: 2em 0;
        margin: 0 auto;
        font-weight: 100;
    }
    .estate-img{
        margin: 0 auto 4em auto;
    }
    
}
@media (max-width: 800px){
    .estate-section1-bg{
        transform: translateY(-2100px);
    }
    .estate-section2-bg{
        transform: translateY(-2100px);
    }
    .estate-h1{
        font-size: 1.8em;
        line-height: 1.5em;
        padding: 0;
        margin: 2em auto;
    }
    .estate-p{
        font-size: 1.1em;
        line-height: 1.7em;
        padding: 1em 5%;
        text-align: initial;
    }
    .estate-p2{
        font-size: 1.1em;
        line-height: 1.7em;
        padding: 1em 5%;
    }
    .estate-h3{
        font-size: 2em;
        padding:  1em 0 2em 0;
    }
    .carousel-item p{
        font-size: 0.9em;
    }
    .estate-logo{
        height: 35px;
        img{
            height: 35px;
        }
    }
    .nicholas-tel{
        font-size: 1.1em;
    }
}
@media (max-width: 770px){
    .estate-section1-bg{
        transform: translateY(-1750px);
    } 
    .estate-section2-bg{
        transform: translateY(-1850px);
    }
}
@media (max-width: 580px){
    .estate-section2{
        //padding: 0;
        video{
            width: 100%;
            
        }
    }
    .estate-img{
        width: 100%;
        //height: 400px;
        border: none;
        border-radius: 0px;
        border-top: 2px solid #f3f3f3;
        border-bottom: 2px solid #f3f3f3;
    }
    .estate-img-text{
        font-size: 0.9em;
    }
    .estate-h1,
    .estate-h2,
    .estate2-h1{
        font-size: 1.5em;
        font-weight: 200;
    }
    .estate-h3{
        font-size: 1.7em;
        font-weight: 200; 
    }
    .estate-p,
    .estate-p2{
        font-weight: 300;
    }
    .estate-contact-outer{
        flex-direction: column;
    }
    .estate-contact{
        width: 100%;
        margin: 1em auto;
    }
    .nicholas-mail{
        font-size: 1.1em;
    }
    .estate-logos-outer{
        //justify-content: space-evenly;
        padding: 2em 0;
    }
    .estate-logo{
        height: 30px;
        img{
            height: 30px;
        }
    } 
    .estate-section1-bg{
        background-size: cover;
        transform: translateY(-1950px);
    } 
    .estate-section2-bg{
        transform: translateY(-2100px);
        background-size: cover;
    }
}
@media (max-width: 480px){
    .estate-section1-bg{
        transform: translateY(-2100px);
    } 
    .estate-section2-bg{
        transform: translateY(-2200px);
    }
}