.footer{
    width: 100%;
    padding: 0;
    margin: 0;
    bottom: 0;
    height: auto;
    position: relative;
    font-family: 'Work Sans', sans-serif;
    background: $primary-blue-darker;
}



.footer-contact{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 0;
    height: auto;
    width: 100%;
    padding: 5rem 0;
    //background: rgb(181, 129, 129);
}

.footer-contact h1{
    position: relative;
    font-size: 5rem;
    font-weight: 700;
    margin-right: 4rem;
    margin-left: -4rem;
    color: $primary-white;
}


.footer-cta{
    position: relative;
      border: 2px solid $primary-pink;
      background: $primary-pink;
      color: $primary-white;
      padding: 0.5em 2em;
      text-align: center;
      text-decoration: none;
      font-family: 'Work Sans', sans-serif;
      font-weight: 400;
      font-size: 1.3em;
      width: 8rem;
      text-decoration: none;
      font-style: normal;
      cursor: pointer;
      transition: 300ms ease-in-out;
      //animation:0.8s ease-in 2.5s normal forwards 1 fadein;
      //-webkit-animation:0.8s ease-in 2.5s normal forwards 1 fadein;
      //opacity:0;
      &:hover {
        background: $primary-blue;
        color: $primary-white;
        border: 2px solid $primary-blue;
        //border: none;
      }
}
.footer-contact a{
    text-decoration: none;
}

// ARROW
.arrow{
    position: absolute;
    background-color: #f8f8f8;
    left: 50%;
    transform: translateX(-50%);
    top: -2em;
    box-shadow: 0px 10px 10px -4px rgba(0, 0, 0, 0.8);
    border: 2px solid $primary-blue-darker;
    border-radius: 10%;
    transition: all ease-out 300ms;
    width: 10%;
    max-width: 60px;
    background-image: url(../images/arrow1.png);
    height: 60px;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 60px 60px;
}
.arrow:hover{
    cursor: pointer;
    background-color: #1599D6;
    background-image: url(../images/arrow.png);
    box-shadow: 0px 20px 20px -4px rgba(0,0,0,.5);
    transform: translate(-50%, -0.5em);
    border: solid 2px #f8f8f8;
    background-size: 65px 65px;
    max-width: 65px;
    height: 65px;
    }




.footer-reframe {
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-48%);
    bottom: 5rem;
    font-family:'Work Sans', sans-serif;
    font-size: 2em;
      font-weight: 400;
    color: #f8f8f8;
}
.social-media-footer{
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 14em;
    height: auto;
    margin: 0 auto;
    //padding-bottom: 4rem;
    //background: red;
}
.footer p1{
    display: block;
    position: relative;
    font-family:'Work Sans', sans-serif;
    letter-spacing: 0.35em;
    font-size: 1em;
    color: #f8f8f8;
    margin: 5rem 0 0 0;
    padding: 0;
    text-align: center;
    font-weight: 300;
    opacity: 0.6;
}
.footer p2{
    display: inline-block;
    position: relative;
    height: auto;
    width: 100%;
    //bottom: 0;
    font-family:'Work Sans', sans-serif;
    letter-spacing: 0.35em;
    font-size: 0.6em;
    font-weight: 300;
    color: #f3f3f3;
    text-align: center;
    padding-bottom: 3rem;
    padding-top: 0.5rem;
    opacity: 0.5;
}
@media (max-width: 920px){
    .arrow{
        height: 60px;
        width: 16%;
        background-size: 60px 60px;
        max-width: 60px;
    }
    .arrow:hover{
        height: 65px;
        max-width: 65px;
        background-size: 65px 65px;
    }
}
@media (max-width: 640px){
    .social-media-footer{
        width: 8em;
    }
    .footer h1{
        top: 2.2em;
        letter-spacing: 0.35em;
    }
    .footer p1{
        font-size: 0.8em;
        bottom: 6em;
        letter-spacing: 0.15em;
    }
    .footer p2{
        font-size: 0.8em;
        bottom: 4em;
        letter-spacing: 0.05em;
    }
} 