.footer{
    width: 100%;
    padding: 0;
    margin: -1em 0 0 0;
    bottom: 0;
    height: 15em;
    border-top: 2px solid white;
    position: relative;
    font-family: 'Work Sans', sans-serif;
}
.footer-outer{
    width: 100%;
    height: 15em;
    background: #1599D6;
    z-index: 0;
    position: relative;
}
.arrow{
    position: absolute;
    background-color: #f8f8f8;
    left: 50%;
    transform: translateX(-50%);
    top: -2em;
    box-shadow: 0px 10px 10px -4px rgba(0, 0, 0, 0.8);
    border: 2px solid #1599D6;
    border-radius: 10%;
    transition: all ease-out 300ms;
    width: 10%;
    max-width: 60px;
    background-image: url(../images/arrow1.png);
    height: 60px;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 60px 60px;
}
.arrow:hover{
    cursor: pointer;
    background-color: #1599D6;
    background-image: url(../images/arrow.png);
    box-shadow: 0px 20px 20px -4px rgba(0,0,0,.5);
    transform: translate(-50%, -0.5em);
    border: solid 2px #f8f8f8;
    background-size: 65px 65px;
    max-width: 65px;
    height: 65px;
    }
.footer h1{
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-48%);
    top: 2.5em;
    font-family:'Work Sans', sans-serif;
    font-weight: 200;
    letter-spacing: 0.5em;
    color: #f8f8f8;
}
.social-media-footer{
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 14em;
    height: auto;
    margin: 0 auto;
    padding: 0;
    top: 3em;
}
.footer p1{
    display: block;
    position: absolute;
    height: auto;
    width: 100%;
    bottom: 3.5em;
    font-family:'Work Sans', sans-serif;
    letter-spacing: 0.35em;
    font-size: 1.1em;
    color: #f8f8f8;
    margin: 0;
    padding: 0;
    text-align: center;
}
.footer p2{
    display: inline-block;
    position: absolute;
    height: auto;
    width: 100%;
    bottom: 2.5em;
    font-family:'Work Sans', sans-serif;
    letter-spacing: 0.35em;
    font-size: 0.8em;
    font-weight: 200;
    color: #f3f3f3;
    text-align: center;
    padding: 0;
}
@media (max-width: 920px){
    .arrow{
        height: 60px;
        width: 16%;
        background-size: 60px 60px;
        max-width: 60px;
    }
    .arrow:hover{
        height: 65px;
        max-width: 65px;
        background-size: 65px 65px;
    }
}
@media (max-width: 640px){
    .social-media-footer{
        width: 8em;
    }
    .footer h1{
        top: 2.2em;
        letter-spacing: 0.35em;
    }
    .footer p1{
        font-size: 0.8em;
        bottom: 6em;
        letter-spacing: 0.15em;
    }
    .footer p2{
        font-size: 0.8em;
        bottom: 4em;
        letter-spacing: 0.05em;
    }
} 