.leadership{
    width: 100%;
    height: auto;
    position: relative;
    padding: 2em;
    margin: 0;
    background: #1599D6;
    font-family: 'Work Sans', sans-serif;
    color: #f3f3f3;
}
.leadership-container{
    width: 100%;
    max-width: 1200px;
    height: auto;
    position: relative;
    padding: 0;
    margin: 2em auto;
}
.leadership-p1{
    padding: 1em;
    margin: 0 auto;
    text-align: center;
    font-size: 1.6em;
    font-weight: 200;
}
.leadership-p2{
    padding: 0;
    margin: 1em 0;
    text-align: center;
    font-size: 2.5em;
    font-weight: 100;
    text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);  
}
.leadership-list{
    color: #f8f8f8;
    padding: 0;
    margin: 2em auto;
    text-align: center;
    font-size: 1.4em;
    font-weight: 200;
    li{
        display: inline-block;
    }
}
.ahf-case-study{
    margin: 0;
    padding: 0.5em 1em 1em 1em ;
    font-size: 2em;
    font-weight: 200;
    text-align: center;
    width: 100%;
    background-image: url(../images/workplace-min.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top -8em center;
    border: 2px solid rgba(243, 243, 243, 0.4);
    border-radius: 5px;
}
.ahf-logo{
    display: inline-block;
    height: 63px;
    width: 100px;
    padding: 0;
    margin: 0;
    position: relative;
    background-image: url(../images/ahf_logo.png);
    background-size: 100px 63px;
    transform: translateY(0.5em);
}
.list-line{
    font-family: sans-serif;
    font-weight: 800;
}
@media (max-width: 1050px){
    .leadership-container{
        height: auto;
    }
    .leadership-p1{
        margin: 0 auto;
        padding: 1em 0;
        position: relative;
        max-width: 90vw;
        text-align: center;
        font-size: 1.4em;
    }
    .leadership-p2{
        top: auto;
        margin: 0 auto;
        padding: 1em 0;
        right: auto;
        position: relative;
        text-align: center;
        font-size: 1.4em;
    }
    .leadership-list{
        position: relative;
        font-size: 1.4em;
        li{
            margin: 0;
            padding: 0;
        }
    }
    .ahf-case-study{
        font-size: 1.4em;
        margin: 2em 0 0 0;
        line-height: 2.5em;
    }
    .ahf-logo{
        transform: translateY(1em);
    }
}
@media (max-width: 768px){
    .leadership-container{
        .leadership-p1{
            font-size: 1.1em;
            text-align: initial;
        }
        .leadership-p2{
            font-size: 1.1em;
            font-weight: 300;
        }
        .leadership-list{
            font-size: 1.1em;
            li{
                display: block;
            }
        }
        .list-line{
            display: none;
        }
    }
    .ahf-case-study{
        font-size: 1.1em;
        background-position: top center;
    }
    .ahf-logo{
        width: 50px;
        height: 32px;
        background-size: 50px 32px;
        transform: translateY(0.5em);
    }
}