.sales-management{
    width: 100%;
    height: auto;
    position: relative;
    padding: 0;
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    color: #f8f8f8;
    border-bottom: 2px solid #f3f3f3;
    background: #1599d6;
}
.sales-line-break{
    display: block;
    background-color: #f8f8f8;
    height: 1px;
    width: 15em;
    padding: 0;
    margin: 0 auto;
    position: relative;
}
.sales-h1{
    position: relative;
    font-size: 2.5em;
    padding: 1em 0;
    margin: 0 auto;
    text-align: center;
    font-family:'Work Sans', sans-serif;
    font-weight: 300;
    color: #f8f8f8;
    text-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
}
.sales-p1{
    font-weight: 200;
    font-size: 1.6em;
    padding: 0;
    max-width: 1200px;
    text-align: center;
    margin: 2em auto;
    position: relative;
    width: 90%;
}
.down-arrow{
    width: 100px;
    height: 100px;
    padding: 0;
    margin: 0 auto -3.8em auto;
    background-image: url(../images/down_arrow.png);
    background-size: 100px 100px;
    background-position: center;
    position: relative;
    z-index: 3;
}
.sales-flexbox{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    height: auto;
    width: 100%;
    margin: 0 auto;
    padding: 2em 5%;
    background-image: url(../images/sales.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.sales-box{
    padding: 2em 1em;
    margin: 1em auto;
    width: 46%;
    height: auto;
    text-align: center;
    background: rgba(0, 0, 0, 0.4);
    border: 2px solid rgba(243, 243, 243, 0.2);
    border-radius: 5px;
    p{
        font-size: 1.2em;
        font-weight: 300;
        margin: 0;
        padding: 0 0 1em 0;
    }
}
.box2{
    background: rgba(0, 112, 0, 0.4);
}
.box3{
    background: rgba(21, 153, 214, 0.5);
}
.box4{
    background: rgba(243, 243, 243, 0.4);
}
.thirdspace-logo{
    padding: 0;
    margin: 0 auto;
    display: block;
    position: relative;
    width: 200px;
    height: 100px;
    background-image: url(../images/thirdspace_logo.jpeg);
    background-size: 200px 100px;
    background-repeat: no-repeat;
    background-position: center; 
}
.paycheck-logo{
    padding: 0;
    margin: 0 auto;
    display: block;
    position: relative;
    width: 200;
    height: 96px;
    background-image: url(../images/paycheck_logo.png);
    background-size: 200px 96px;
    background-repeat: no-repeat;
    background-position: center;
}
.naturalfoods-logo{
    padding: 0;
    margin: 0 auto;
    display: block;
    position: relative;
    width: 200;
    height: 96px;
    background-image: url(../images/nff_logo.jpg);
    background-size: 200px 99px;
    background-repeat: no-repeat;
    background-position: center;
}
.mattgiggs-logo{
    padding: 0;
    margin: 0 auto;
    display: block;
    position: relative;
    width: 230px;
    height: 63px;
    background-image: url(../images/mg_logo.png);
    background-size: 230px 63px;
    background-repeat: no-repeat;
    background-position: center;
}

@media (min-width: 1450px){
    .sales-flexbox{
        padding: 3em 10%;
    }
}
@media (max-width: 1050px){
    .sales-p1{
        font-size: 1.3em;
        
    }
    .sales-flexbox{
        padding: 0;
    }
    .sales-box{
        width: 50%;
        margin: 0;
        padding: 2em;
        border: none;
        border-radius: 0px;
        p{
            padding: 0 0 1em 0;
        }
    }
}

@media (max-width: 720px){
    .sales-h1{
        font-size: 2em;
    }
    .sales-p1{
        font-size: 1.2em;
        text-align: initial;
        margin-top: 2em;
    }  
}
@media (max-width: 680px){
    .down-arrow{
        display: none;
    }
    .sales-flexbox{
        flex-direction: column;
        padding: 0;
    }
    .sales-box{
        margin: 0 auto;
        width: 100%;
        p{
            font-size: 1.2em;
        }
    }
}
@media (max-width: 620px) {
    .sales-line-break{
        width: 8em;
    }
    .sales-p1{
        font-size: 1.1em;
    }
    
}