
.showcase-bold{
  font-weight: 400;
  font-size: 1.2em;
}
.frame{
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url(../images/frame.png);
  background-repeat: no-repeat;
  background-size: 500px auto;
  background-position: top 6em center;
  padding: 0;
  margin: 0;
}
.showcase-outer{
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/showcase_image.jpeg);
  background-repeat: no-repeat;
  overflow: hidden;
  &:before{
    content: '';
    background-image: linear-gradient(hsl(199, 82%, 46%), rgba(21, 153, 214, 0.95), rgba(21, 153, 214, 0.6), rgba(21, 153, 214, 0.0));
    opacity: 1;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
.showcase{
    width: 100%;
    height: 100vh;
    background: #1599D6;
    margin: 0;
    padding: 0;
    position: relative;
    }
    .reframe{
      color: #f8f8f8;
      position: absolute;
      display: block;
      padding: 0;
      margin: 3.7em 0 0 0;
      font-size: 5em;
      font-weight: 200;
      letter-spacing: 0.1em;
      left: 50%;
      width: auto;
      transform: translateX(-50%);
      text-shadow: none;
      animation: 0.8s ease-in 0.5s normal forwards 1 fadein;
      -webkit-animation: 0.8s ease-in 0.5s normal forwards 1 fadein;
      opacity:0;
      
    }
    .reframe-logo{
        position: absolute;
        display: block;
        padding: 0;
        margin: 11em 0 0 0;
        width: 120px;
        background-image: url(../images/reframeLogoTree.png);
        height: 136px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 120px 136px;
        left: 50%;
        transform: translateX(-50%);
        animation:0.8s ease-in 0.5s normal forwards 1 fadein;
        -webkit-animation:0.8s ease-in 0.5s normal forwards 1 fadein;
        opacity:0;
    }
    @keyframes fadein{
      0%{opacity:0}
      100%{opacity:1}
    }
    @-webkit-keyframes fadein{
      0%{opacity:0}
      100%{opacity:1}
    }
    .reframe-P{
      padding: 0;
      width: 70%;
      max-width: 35em;
      position: absolute;
      display: block;
      left: 50%;
      transform: translateX(-50%);
      font-family:'Work Sans', sans-serif;
      font-weight: 200;
      font-size: 1.6em;
      text-align: center;
      line-height: 1.6em;
      text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
      margin: 17.5em 0 0 0;
      color: #f8f8f8;
      animation:0.8s ease-in 1.5s normal forwards 1 fadein;
      -webkit-animation:0.8s ease-in 1.5s normal forwards 1 fadein;
      opacity: 0;
      height: auto;
    }
    .start-button{
      position: absolute;
      border: 2px solid #f3f3f3;
      //background: linear-gradient(to right,rgba(0, 112, 0,0.8), rgba(0, 77, 0,0.8));
      color: #f8f8f8;
      padding: 0.5em 2em;
      text-align: center;
      text-decoration: none;
      font-family: 'Work Sans', sans-serif;
      font-weight: 400;
      font-size: 1.3em;
      margin: 29em 0 0 0;
      left: 50%;
      transform: translateX(-50%);
      cursor: pointer;
      transition: 300ms ease-in-out;
      animation:0.8s ease-in 2.5s normal forwards 1 fadein;
      -webkit-animation:0.8s ease-in 2.5s normal forwards 1 fadein;
      opacity:0;
      &:hover {
        background: rgba(248, 248, 248, 0.8);
        color: #1599D6;
        //border: none;
      }
    }
    
}
@media (max-width: 1050px){
  .frame{
    background-size: 443px 340px;
    background-position: top 4em center;
  }
  .showcase{
    .reframe{
      font-size: 4.5em;
      margin: 3.4em 0 0 0;
    }
    .reframe-logo{
      margin: 8.5em 0 0 0;
    }
    .reframe-P{
      margin: 20em 0 0 0;
      font-size: 1.2em;
    }
    .start-button{
      font-size: 1.2em;
      margin: 27em 0 0 0;
    }
  }
}
@media (max-width: 620px){
  .frame{
    background-size: 400px 307px;
  }
  .showcase{
    background-position: top center;
    .reframe-logo{
      width: 120px;
      height: 136px;
      background-size: 120px 136px;
      padding: 0;
      margin: 8em 0 0 0;
    }
    .reframe{
      font-size: 3.5em;
      padding: 0;
      margin: 4.3em 0 0 0;
    }
    .reframe-P{
      font-size: 1.1em;
      height: auto;
      width: 90%;
      margin: 20em 0 0 0;   
    }
    .start-button{
      font-size: 1.05em;
      margin: 29em 0 0 0;
    }
    .showcase-bold{
      font-size: 1.2em;
    }
  }
}
@media (max-width: 420px){
  .frame{
    background-size: 300px 230px;
  }
  .showcase{
    .reframe-logo{
      width: 80px;
      height: 91px;
      background-size: 80px 91px;
      margin: 7.2em 0 0 0;
    }
    .reframe{
      font-size: 3em;
      margin: 3.9em 0 0 0;
    }
    .reframe-P{
      margin: 16em 0 0 0;
    }
    .start-button{
      margin: 26em 0 0 0;
    }
  }
}