@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:100,300,500,700|Libre+Franklin:100,200,300,400,500,600,800|Work+Sans:100,200,300,400,500,600,700');


// MAIN FONT & WEIGHTS //


.font-huge{
    font-family:'Work Sans', sans-serif;
    font-size: 7rem;
    font-weight: 700;
}


.font-h1{
    font-family:'Work Sans', sans-serif;
    font-size: 3rem;
    font-weight: 700;

}
.font-h2{
    font-family:'Work Sans', sans-serif;
    font-size: 2rem;
    font-weight: 500;
}
.font-h3{
    font-family:'Work Sans', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
}
